<div *mobxAutorun>
  <mat-grid-list
    [cols]="(isHandset$ | async) ? gridSpec.minCol : gridSpec.maxCol"
    [rowHeight]="gridSpec.rowHeight"
    [gutterSize]="gridSpec.gutterSize"
  >
    <mat-grid-tile
      class="noteboard__tile mat-elevation-z4"
      *ngFor="let note of notes"
      [colspan]="1"
      (click)="edit(note)"
      [id]="'note_' + note.id"
      [rowspan]="tileRowSpan[note.id]"
    >
      <app-note class="tile-note" [noteService]="noteboardUtil" (delete)="delete($event)" [note]="note">
      </app-note>
    </mat-grid-tile>
  </mat-grid-list>

  <span class="float float--right float--bottom space--double">
    <button mat-fab (click)="openEditor()" color="primary">
      <mat-icon aria-label="add note">add</mat-icon>
    </button>
  </span>
</div>

{{ count() }}
